@font-face {
  font-family: 'Exo 2', sans-serif, !important;
  src:
    url(./font/my-font.woff2) format("woff2"),
    url(./font/my-font.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #fbbd5e;
}

.nav,
.footer {
  background-color: #000;
  height: 2vh;
}

.nav {
  position: fixed;
  top: 0;
  width: 96vw;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 96vw;
}

.list-form-div {
  margin-top: 20px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-form-div-child {
  border: 1px thin #000;
  width: 85vw;
  box-shadow: 0 0 20px 0 #fff;
  background-color: #2ea0da;
  border-radius: 10px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  font-family: 'Exo 2', sans-serif;
  background-color: #183651;
  color: #f06151;
  border-radius: 10px;
}

.list-header h1 {
  font-size: 1.8rem;
  font-weight: 900;

  /* color: #183651; */
}

.refresh-img {
  width: 22px;
  cursor: pointer;
  background-color: inherit;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.refresh-button {
  width: fit-content;
  background-color: inherit;
  border: none;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
}

.task-input {
  border: none;
  height: 6vh;
  width: 80%;
  font-family: 'Exo 2', sans-serif;
  background-color: #fbbd5e;
  color: #183651;
}

.task-input::placeholder {
  font-style: italic;
  border: 0;
}

.task-input:enabled {
  border: none;
}

.task-input:active {
  border: none;
}

.task-input:focus {
  border: none;
}

.task-input:hover {
  border: none;
}

.enter-img {
  width: 20px;
  cursor: pointer;
  background-color: inherit;
}

.enter-button {
  width: fit-content;
  background-color: inherit;
  border: none;
}

.clear-completed {
  display: flex;
  justify-content: center;
  width: inherit;
  align-items: center;
  height: 7vh;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem;
  border: 3px solid #000;
  border-radius: 5px;
  color: #f06151;
  background-color: #183651;
}

.to-do-list-ul {
  margin: 0;
  list-style: none;

  /* display: none; */
}

.completed {
  text-decoration: line-through;
}

.to-do-list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.edit-image,
.delete-image {
  width: 20px;
  cursor: pointer;
  background-color: inherit;
}

.edit-button,
.delete-button {
  border: 0;
  border-radius: 0;
  background-color: inherit;
  padding: 5px 0;
}

.footer-buttons {
  display: none;
}

.edit-input {
  padding: 0;
}

#task-edit-error {
  background-color: red;
  color: #fff;
  padding: 0 19px;
  font-size: 25px;
  display: none;
  font-family: 'Exo 2', sans-serif;
}

@media screen and (min-width: 768px) {
  .nav,
  .footer {
    height: 5vh;
    width: 99%;
  }

  .list-form-div {
    margin-top: 5vh;
    height: 90vh;
  }

  .list-form-div-child {
    width: 40vw;
  }

  .list-header {
    padding: 5px 20px;
  }

  .form {
    padding: 5px 20px;
  }

  .task-input {
    height: 5vh;
    width: 70%;
  }

  .enter-img {
    width: 25px;
  }

  .clear-completed {
    height: 5vh;
    font-size: 1.5rem;
  }

  .edit-image,
  .delete-image {
    width: 25px;
  }

  .edit-button,
  .delete-button {
    padding: 5px 5px;
  }

  .footer-buttons {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: none;
  }

  .footer-buttons p {
    font-family: 'Exo 2', sans-serif;
  }

  .refresh-img:hover {
    /* transform: scale(1.5) rotate(700deg); */
    -moz-animation: rotate 2s ease-out 0.05ms 1 normal;
    -webkit-animation: rotate 2s ease-out 0.05ms 1 normal;
    -o-animation: rotate 2s ease-out 0.05ms 1 normal;
  }

  .clear-completed:hover {
    box-shadow: 0 0 20px 0 #fff;
    border: 3px solid #f06151;
  }

  .clear-completed:active {
    box-shadow: 0 0 20px 0 #fbbd5e;
    border: 3px solid #2ea0da;
    color: #000;
  }
}
